.footer {
    background-color: #f0f0f0;
    padding: 2rem 5%;
    text-align: center;
    border-top: 1px solid #ccc;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 1rem 0;
    padding: 1rem;
}

.contact-info h3,
.social-media h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.contact-info p,
.developer-info p {
    font-size: 1rem;
    color: #333;
}

.social-icons img {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
}

.contact-info img {
    vertical-align: middle;
    margin-right: 0.5rem;
    width: 1.5rem;
}

.certificado {
    display: flex;
    /* Habilita Flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    width: 50%;
    /* Ajusta a largura da div para 50% do contêiner pai */
    max-width: 300px;
    /* Define uma largura máxima para a div */
    margin: 0 auto;
    /* Centraliza a div horizontalmente em relação ao contêiner pai */
    padding: 10px;
    /* Opcional: adiciona espaçamento interno */
    box-sizing: border-box;
    /* Inclui padding e border na largura total */
}

.certificado img {
    width: 100%;
    /* Ajusta a largura da imagem para 100% da largura da div */
    height: auto;
    /* Mantém a proporção da imagem */
}